/* PHOTO FRAME MOUNT BOARD CALCULATOR CSS */
/* Version 0.3 */
/* 0.3: Viewport code added */
/* 0.2: Removed CSS code not in use */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

html {
    /*max-width: 600px;*/
    font-family: "Open Sans", sans-serif;
}

h2,
h3 {
    font-weight: 700;
    font-style: normal;
}

label {
    margin-right: 2px;
}

input {
    font-size: 1.1em;
}

button {
    font-size: 1.1em;
    background-color: lightgrey;
}

.float_left {
    float: left;
}

.container-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.indent {
    position: relative;
    left: 10px;
}

/* TABLE */
.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tableCell {
    background-color: #ffffff;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    justify-text: center;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    /*padding: 10px 5px;*/
    width: 33%;
    /*max-height: 380px;*/
}

#sitetitle {}

#footer {}

#diagnostics {}